In [1]:
import pandas as pd

In [118]:
col_names = ["text", "label", "id"]
train = pd.read_csv("./data/go_emotion/full_dataset/train.tsv", sep="\t", names=col_names)

In [119]:
train

                                                    text label       id
0      My favourite food is anything I didn't have to...    27  eebbqej
1      Now if he does off himself, everyone will thin...    27  ed00q6i
2                         WHY THE FUCK IS BAYLESS ISOING     2  eezlygj
3                            To make her feel threatened    14  ed7ypvh
4                                 Dirty Southern Wankers     3  ed0bdzj
...                                                  ...   ...      ...
43405  Added you mate well I’ve just got the bow and ...    18  edsb738
43406  Always thought that was funny but is it a refe...     6  ee7fdou
43407  What are you talking about? Anything bad that ...     3  efgbhks
43408            More like a baptism, with sexy results!    13  ed1naf8
43409                                    Enjoy the ride!    17  eecwmbq

[43410 rows x 3 columns]

In [120]:
train["label"] = [labels.split(",") for labels in train["label"]]
# train["label"] = [label for label in train["label"] if len(label) > 1]
train_filtered = train[train['label'].str.len() > 1]

In [121]:
train

                                                    text label       id
0      My favourite food is anything I didn't have to...  [27]  eebbqej
1      Now if he does off himself, everyone will thin...  [27]  ed00q6i
2                         WHY THE FUCK IS BAYLESS ISOING   [2]  eezlygj
3                            To make her feel threatened  [14]  ed7ypvh
4                                 Dirty Southern Wankers   [3]  ed0bdzj
...                                                  ...   ...      ...
43405  Added you mate well I’ve just got the bow and ...  [18]  edsb738
43406  Always thought that was funny but is it a refe...   [6]  ee7fdou
43407  What are you talking about? Anything bad that ...   [3]  efgbhks
43408            More like a baptism, with sexy results!  [13]  ed1naf8
43409                                    Enjoy the ride!  [17]  eecwmbq

[43410 rows x 3 columns]

In [124]:
train_exploded = train_filtered.explode('label')

In [125]:
train_exploded

                                                    text label       id
7      We need more boards and to create a bit more s...     8  ef4qmod
7      We need more boards and to create a bit more s...    20  ef4qmod
11     Aww... she'll probably come around eventually,...     1  edex4ki
11     Aww... she'll probably come around eventually,...     4  edex4ki
15     Shit, I guess I accidentally bought a Pay-Per-...     3  edivtm3
...                                                  ...   ...      ...
43388  Fuck these trendy hipster joints. Give me my s...     3  ee3nyiy
43395  Sorry I kind of took it like you were flexing ...     1  eelhhzc
43395  Sorry I kind of took it like you were flexing ...    24  eelhhzc
43404  Your paranoia over it seems schizophrenic to m...     7  ef8ymm9
43404  Your paranoia over it seems schizophrenic to m...    27  ef8ymm9

[14795 rows x 3 columns]

In [27]:
train_exploded[train_exploded["label"] != '0']

                                                    text label       id
0      My favourite food is anything I didn't have to...    27  eebbqej
1      Now if he does off himself, everyone will thin...    27  ed00q6i
2                         WHY THE FUCK IS BAYLESS ISOING     2  eezlygj
3                            To make her feel threatened    14  ed7ypvh
4                                 Dirty Southern Wankers     3  ed0bdzj
...                                                  ...   ...      ...
43405  Added you mate well I’ve just got the bow and ...    18  edsb738
43406  Always thought that was funny but is it a refe...     6  ee7fdou
43407  What are you talking about? Anything bad that ...     3  efgbhks
43408            More like a baptism, with sexy results!    13  ed1naf8
43409                                    Enjoy the ride!    17  eecwmbq

[46973 rows x 3 columns]

In [140]:
def pre_processing(path):
    col_names = ["text", "label", "id"]
    df = pd.read_csv(path, sep="\t", names=col_names)
    
    # turn the labels into list
    df["label"] = [labels.split(",") for labels in df["label"]]

    df_filtered = df[df['label'].str.len() > 1]

    # explod the dataframe
    df_exploded = df_filtered.explode('label')

    # change label data type
    df_exploded["label"] = df_exploded["label"].astype("int")
    
    # exclude the neutral emotion
    df_res = df_exploded[df_exploded["label"] != 0]

    df_res["aug_text"] = df_res["text"]

    # df_res = df_res.drop_duplicates(subset='text', keep="first")

    return df_res[["text", "aug_text", "label"]]

In [141]:
train = pre_processing("./data/go_emotion/full_dataset/train.tsv")

/var/folders/0q/27zm2njj4yd26k5bldd_1_gr0000gn/T/ipykernel_49075/187531657.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_res["aug_text"] = df_res["text"]

In [142]:
dev = pre_processing("./data/go_emotion/full_dataset/dev.tsv")

/var/folders/0q/27zm2njj4yd26k5bldd_1_gr0000gn/T/ipykernel_49075/187531657.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_res["aug_text"] = df_res["text"]

In [143]:
test = pre_processing("./data/go_emotion/full_dataset/test.tsv")

/var/folders/0q/27zm2njj4yd26k5bldd_1_gr0000gn/T/ipykernel_49075/187531657.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_res["aug_text"] = df_res["text"]

In [148]:
train_orig = pd.read_csv("./data/go_emotion/train.csv")
val_orig = pd.read_csv("./data/go_emotion/valid.csv")
test_orig = pd.read_csv("./data/go_emotion/test.csv")

In [149]:
train_orig

,text,aug_text,label
0,why the fuck is bayless isoing,why the fuck is that,2
1,to make her feel threatened,makes her feel threatened.,14
2,dirty southern wankers,"the dirty, dirty southerners of the south.",3
3,omg peyton isn't good enough to help us in the...,december 2015 moon fan,26
4,yes i heard abt the f bombs! that has to be wh...,"thank you for the answer: ""until then, my husb...",15
...,...,...,...
23480,added you mate well i’ve just got the bow and ...,"i just got the bow, i like the game hunting si...",18
23481,always thought that was funny but is it a refe...,"it's always funny, but what do you mean",6
23482,what are you talking about? anything bad that ...,what are you talking about anything bad happen...,3
23483,"more like a baptism, with sexy results!","more like baptism, with sexy results!",13
23484,enjoy the ride!,enjoy the ride!,17

In [151]:
train = pd.concat([train_orig, train])

In [154]:
dev = pd.concat([val_orig, dev])

In [155]:
test = pd.concat([test_orig, test])

In [156]:
train.to_csv("./data/go_emotion/multi-label/train.csv", index=False)

In [157]:
dev.to_csv("./data/go_emotion/multi-label/valid.csv", index=False)

In [158]:
test.to_csv("./data/go_emotion/multi-label/test.csv", index=False)

In [144]:
train

,text,aug_text,label
7,We need more boards and to create a bit more s...,We need more boards and to create a bit more s...,8
7,We need more boards and to create a bit more s...,We need more boards and to create a bit more s...,20
11,"Aww... she'll probably come around eventually,...","Aww... she'll probably come around eventually,...",1
11,"Aww... she'll probably come around eventually,...","Aww... she'll probably come around eventually,...",4
15,"Shit, I guess I accidentally bought a Pay-Per-...","Shit, I guess I accidentally bought a Pay-Per-...",3
...,...,...,...
43388,Fuck these trendy hipster joints. Give me my s...,Fuck these trendy hipster joints. Give me my s...,3
43395,Sorry I kind of took it like you were flexing ...,Sorry I kind of took it like you were flexing ...,1
43395,Sorry I kind of took it like you were flexing ...,Sorry I kind of took it like you were flexing ...,24
43404,Your paranoia over it seems schizophrenic to m...,Your paranoia over it seems schizophrenic to m...,7
43404,Your paranoia over it seems schizophrenic to m...,Your paranoia over it seems schizophrenic to m...,27

In [145]:
dev

,text,aug_text,label
1,"You know the answer man, you are programmed to...","You know the answer man, you are programmed to...",4
1,"You know the answer man, you are programmed to...","You know the answer man, you are programmed to...",27
3,The economy is heavily controlled and subsidiz...,The economy is heavily controlled and subsidiz...,4
3,The economy is heavily controlled and subsidiz...,The economy is heavily controlled and subsidiz...,27
11,I went to a destination wedding being the only...,I went to a destination wedding being the only...,12
...,...,...,...
5401,cool... Sorry bro,cool... Sorry bro,24
5401,cool... Sorry bro,cool... Sorry bro,25
5405,Very very nice to see this irl. Nice post 👌🏼,Very very nice to see this irl. Nice post 👌🏼,4
5413,Yup! She was also on a show called Queen Bees ...,Yup! She was also on a show called Queen Bees ...,4
5413,Yup! She was also on a show called Queen Bees ...,Yup! She was also on a show called Queen Bees ...,7

In [146]:
test

,text,aug_text,label
10,[NAME] has towed the line of the Dark Side. He...,[NAME] has towed the line of the Dark Side. He...,3
10,[NAME] has towed the line of the Dark Side. He...,[NAME] has towed the line of the Dark Side. He...,10
11,Lol! But I love your last name though. XD,Lol! But I love your last name though. XD,1
11,Lol! But I love your last name though. XD,Lol! But I love your last name though. XD,18
13,"It's great that you're a recovering addict, th...","It's great that you're a recovering addict, th...",7
...,...,...,...
5414,"I know, right?! I was literally in tears Satur...","I know, right?! I was literally in tears Satur...",25
5415,"They are children, they have no souls.","They are children, they have no souls.",4
5415,"They are children, they have no souls.","They are children, they have no souls.",5
5419,My mom works for Nasa and apparently no. They ...,My mom works for Nasa and apparently no. They ...,1
5419,My mom works for Nasa and apparently no. They ...,My mom works for Nasa and apparently no. They ...,11